// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tasks{
  padding: 0;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: grey;
    }
  }
}

#link {
  text-decoration: none;
  color: black;
  &:hover {
    color: grey;
  }
}